<!DOCTYPE html>

<html>

{% include head.html %}

<body>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PPMW4P2"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->


  <!-- chatfuel 메신저 flow Code -->
<script id="60e1bf33999bcb7c8d05faf1" src="https://dashboard.chatfuel.com/integration/fb-entry-point.js" async defer></script>
  <!-- End chatfuel 메신저 flow Code -->


  <!-- Messenger 채팅 플러그인 Code -->
      <div id="fb-root"></div>

      <!-- Your 채팅 플러그인 code -->
      <div id="fb-customer-chat" class="fb-customerchat">
      </div>

      <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "107252564512237");
        chatbox.setAttribute("attribution", "page_inbox");
        window.fbAsyncInit = function() {
          FB.init({
            xfbml            : true,
            version          : 'v11.0'
          });
        };

        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/ko_KR/sdk/xfbml.customerchat.js';
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      </script>


  {% include navbar.html %}

  {{ content }}

  {% include footer.html %}

  {% include scripts.html %}

</body>

</html>
